/* Utilities */
body {
  background-color: #E5E5E5;
  color: #3E3E3E;
  font-family: 'Poppins', sans-serif;
}


/* Header Section */


.carousel-caption p {
  width: 60%;
  margin: 0 auto 16px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  border-radius: 0px 0px 5px 5px;
}

/* Intro */
.card {
  background-color: #E5E5E5;
  border: none;
}

.toast {
  border-radius: 0;
}

.toast-container {
  background-color: transparent !important;
}


/* Packages */
.pink {
  background-color: hsla(322, 81%, 77%, 0.1);
}

.pink:hover {
  background-color: hsla(322, 81%, 77%, 0.418);
}

.highlight {
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.blue {
  background-color: #3F87F5;;
}

.hover-effect {
  transition: all .3s;
}

.hover-effect:hover { 
  background-color: #3E3E3E !important;
  color: #E5E5E5 !important;
}

.watermark {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -10px;
}

/* Testimonial */

.accordion-item {
  background-color: #E5E5E5;
  border: 1.4px solid #acb7c7 !important;
  box-shadow: 0;
  border-radius: 5px;
}

.accordion-item .accordion-button {
  color: #3E3E3E;
}


/* Media Queries */
/* xs */
@media screen and (max-width:575px) {
  /* Header */
  .navbar-brand {
    font-size: 18px !important;
  }  

  .navbar-brand span {
    display: block;
  }

  .carousel-caption {
    left: 5%;
    right: 5%;
  }

  .carousel-caption h5 {
    font-size: 32px;
  }

  .carousel-caption p {
    width: 100%;
  }

  .center {
    border-radius: 0px 0px 10px 10px;
  }

  .banner {
    height: 90vh;
  }

  /* Intro */
  .intro .row {
    flex-direction: column-reverse;
  }
}

/* sm */
@media screen and (min-width: 576px) and (max-width: 767px) {
  /* Navbar */
  .carousel-caption p {
    width: 100%;
  }

  /* Intro */
  .intro .row {
    flex-direction: column-reverse;
  }

  /* Packages */

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Packages */
  .container {
    max-width: 760px;
  }
}

/* lg */
@media screen and (min-width: 992px) {
  .carousel-inner img {
    width: 100%;
  }

  .carousel-caption h5 {
    font-size: 48px;
    font-weight: 600;
  }
}

